/* Normal styles for the modal */

.modal {
	background-image:url('/../img/music.jpg');
	position: fixed;
	background-repeat:no-repeat;
	top: 10%;
	right: 30%;
	left: 30%;
	bottom: 20%;
	overflow: auto;
	display:none;

}

.modal:target {
	display:inline;
	pointer-events: auto;
}

.modal > div {
	top:50px;
	position: relative;
	color:black;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	overflow: auto;

}